aiohttp==3.8.0
aioredis==2.0.0
aiosignal==1.2.0
anyio==3.3.4
asgiref==3.4.1
async-timeout==4.0.0
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cryptography==36.0.0
Deprecated==1.2.13
ecdsa==0.17.0
fastapi==0.70.0
frozenlist==1.2.0
h11==0.12.0
httptools==0.2.0
idna==3.3
multidict==5.2.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.8.2
python-dotenv==0.19.1
python-jose==3.3.0
PyYAML==6.0
redis==4.0.2
requests==2.26.0
rsa==4.7.2
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.0
wrapt==1.13.3
yarl==1.7.2
